# Java class files
*.class

# Log files
*.log

# Eclipse project files
.classpath
.project
.settings/

# Build directories
/bin/
/target/
/build/

# Package files
*.jar
*.war
*.ear

# OS-specific files
.DS_Store
Thumbs.db
